name: CI
on:
  - push
  - pull_request

jobs:
  test:
    name: Test with Asciidoctor ${{ matrix.asciidoctor }} on Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - head
          - jruby-head
          - truffleruby-head
        asciidoctor: [2.0.17]
        include:
          - { asciidoctor: 2.0.10    , ruby: 3.0 }
          - { asciidoctor: 2.0.0     , ruby: 2.6 }
          - { asciidoctor: 1.5.8     , ruby: 2.6 }
          - { asciidoctor: 1.5.7.1   , ruby: 2.6 }
          - { asciidoctor: 1.5.7     , ruby: 2.6 }
          - { asciidoctor: 1.5.6.2   , ruby: 2.6 }
          - { asciidoctor: 'git:main', ruby: 3.1 }
    env:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      ASCIIDOCTOR_VERSION: ${{ matrix.asciidoctor }}
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.asciidoctor == 'git:main' }}
    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rake spec

      - run: bundle exec rake rubocop
        if: matrix.ruby < 3.0  # FIXME: update rubocop

  publish:
    name: Publish to RubyGems
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: Publish to RubyGems
        run: |
          install -D -m 0600 /dev/null $HOME/.gem/credentials
          printf -- '---\n:rubygems_api_key: %s\n' "$RUBYGEMS_API_KEY" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
